<div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

        <!-- -----ID----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="ID" formControlName="id">
            <mat-error *ngIf="!formGroup.controls['id'].valid && formGroup.controls['id'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>

        <!-- -----Name----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Categories----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Categories" formControlName="categories">
            <mat-error *ngIf="!formGroup.controls['categories'].valid && formGroup.controls['categories'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Purchase Value----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Purchase Value" formControlName="purchaseValue">
            <mat-error *ngIf="!formGroup.controls['purchaseValue'].valid && formGroup.controls['purchaseValue'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Purchase Date----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Purchase Date" formControlName="purchaseDate">
            <mat-error *ngIf="!formGroup.controls['purchaseDate'].valid && formGroup.controls['purchaseDate'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Purchaser Name----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Purchaser Name" formControlName="purchaserName">
            <mat-error *ngIf="!formGroup.controls['purchaserName'].valid && formGroup.controls['purchaserName'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Purchaser Contacts----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Purchaser Contacts" formControlName="purchaserContacts">
            <mat-error *ngIf="!formGroup.controls['purchaserContacts'].valid && formGroup.controls['purchaserContacts'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Sale Value----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Sale Value" formControlName="saleValue">
            <mat-error *ngIf="!formGroup.controls['saleValue'].valid && formGroup.controls['saleValue'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Sale Date----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Sale Date" formControlName="saleDate">
            <mat-error *ngIf="!formGroup.controls['saleDate'].valid && formGroup.controls['saleDate'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Sale Platforms----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Sale Platforms" formControlName="salePlatforms">
            <mat-error *ngIf="!formGroup.controls['salePlatforms'].valid && formGroup.controls['salePlatforms'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Sold----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Sold" formControlName="sold">
            <mat-error *ngIf="!formGroup.controls['sold'].valid && formGroup.controls['sold'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        
        <!-- -----Details----- -->
        <mat-form-field class="form-element">
            <input matInput placeholder="Details" formControlName="details">
            <mat-error *ngIf="!formGroup.controls['details'].valid && formGroup.controls['details'].touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
        











        <!-- <mat-form-field class="form-element">
            <input matInput placeholder="Emailaddress" formControlName="email">
            <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                {{ getErrorEmail() }}
            </mat-error>
        </mat-form-field> -->


        <!-- <mat-form-field class="form-element">
            <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="5" formControlName="description"></textarea>
            <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
                Required field, must be between 5 and 10 characters.
            </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="form-element">
            <input matInput placeholder="Password" formControlName="password">
            <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
            <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                {{ getErrorPassword() }}
            </mat-error>
        </mat-form-field> -->

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit
                Form</button>
        </div>

    </form>
</div>











<!-- <nav>
    <a routerLink="/products">products</a>
</nav>



<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">

    <div>
        <label for="id">id</label>
        <input id="id" type="text" formControlName="id" disabled>
    </div>
    <div>
        <label for="name">name</label>
        <input #spy id="name" type="text" formControlName="name">
    </div>
    <div> {{ spy.className }}</div>
    <div>
        <label for="categories">categories</label>
        <input id="categories" type="text" formControlName="categories">
    </div>
    <div>
        <label for="purchaseValue">purchaseValue</label>
        <input id="purchaseValue" type="text" formControlName="purchaseValue">
    </div>
    <div>
        <label for="purchaseDate">purchaseDate</label>
        <input id="purchaseDate" type="text" formControlName="purchaseDate">
    </div>
    <div>
        <label for="purchaserName">purchaserName</label>
        <input id="purchaserName" type="text" formControlName="purchaserName">
    </div>
    <div>
        <label for="purchaserContacts">purchaserContacts</label>
        <input id="purchaserContacts" type="text" formControlName="purchaserContacts">
    </div>
    <div>
        <label for="saleValue">saleValue</label>
        <input id="saleValue" type="text" formControlName="saleValue">
    </div>
    <div>
        <label for="saleDate">saleDate</label>
        <input id="saleDate" type="text" formControlName="saleDate">
    </div>
    <div>
        <label for="salePlatforms">salePlatforms</label>
        <input id="salePlatforms" type="text" formControlName="salePlatforms">
    </div>
    <div>
        <label for="sold">sold</label>
        <input id="sold" type="checkbox" formControlName="sold">
    </div>
    <div>
        <label for="details">details</label>
        <input id="details" type="text" formControlName="details">
    </div>


    <button class="button" type="submit">Finish</button>


</form> -->