<nav>
    <a routerLink="/products">products</a>
</nav>



<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">

    <div>
        <label for="id">id</label>
        <input id="id" type="text" formControlName="id" disabled>
    </div>
    <div>
        <label for="name">name</label>
        <input #spy id="name" type="text" formControlName="name">
    </div>
    <div> {{ spy.className }}</div>
    <div>
        <label for="categories">categories</label>
        <input id="categories" type="text" formControlName="categories">
    </div>
    <div>
        <label for="purchaseValue">purchaseValue</label>
        <input id="purchaseValue" type="text" formControlName="purchaseValue">
    </div>
    <div>
        <label for="purchaseDate">purchaseDate</label>
        <input id="purchaseDate" type="text" formControlName="purchaseDate">
    </div>
    <div>
        <label for="purchaserName">purchaserName</label>
        <input id="purchaserName" type="text" formControlName="purchaserName">
    </div>
    <div>
        <label for="purchaserContacts">purchaserContacts</label>
        <input id="purchaserContacts" type="text" formControlName="purchaserContacts">
    </div>
    <div>
        <label for="saleValue">saleValue</label>
        <input id="saleValue" type="text" formControlName="saleValue">
    </div>
    <div>
        <label for="saleDate">saleDate</label>
        <input id="saleDate" type="text" formControlName="saleDate">
    </div>
    <div>
        <label for="salePlatforms">salePlatforms</label>
        <input id="salePlatforms" type="text" formControlName="salePlatforms">
    </div>
    <div>
        <label for="sold">sold</label>
        <input id="sold" type="checkbox" formControlName="sold">
    </div>
    <div>
        <label for="details">details</label>
        <input id="details" type="text" formControlName="details">
    </div>


    <button class="button" type="submit">Finish</button>


</form>