<div>
    <button mat-raised-button color="primary" routerLink="/products">Go back</button>
</div>
<div>
    <form [formGroup]="formGroup" (keydown.enter)="$event.preventDefault()"
        (ngSubmit)="onSubmit(formArray?.get([0]).value, formArray?.get([1]).value, formArray?.get([2]).value)"
        class="form">
        <mat-horizontal-stepper formArrayName="formArray" linear #stepper>
            <!-- -----PRODUCT INFO----- -->
            <mat-step label="Product Info" formGroupName="0" [stepControl]="formArray?.get([0])">

                <!-- -----ID----- -->
                <mat-form-field class="form-element">
                    <input matInput placeholder="ID" formControlName="id">
                    <!-- <mat-error
                        *ngIf="!formArray?.get([0]).controls['id'].valid && formArray?.get([0]).controls['id'].touched">
                        {{ titleAlert }}
                    </mat-error> -->
                </mat-form-field>

                <!-- -----Name----- -->
                <mat-form-field class="form-element">
                    <input matInput placeholder="Name" formControlName="name" required>
                </mat-form-field>

                <!-- -----Details----- -->
                <mat-form-field class="form-element">
                    <input matInput placeholder="Details" formControlName="details">
                </mat-form-field>

                <!-- -----Categories----- -->
                <mat-form-field class="form-element">
                    <input #categoryName matInput placeholder="Categories"
                        (keyup)="onKeydownEvent(categoryName.value, $event.keyCode)" formControlName="categories">
                </mat-form-field>
                <mat-list>
                    <mat-list-item *ngFor="let category of categoryList">
                        <ng-container *ngIf='category'>
                            <button mat-raised-button color='primary'
                                (click)="$event.preventDefault()">{{category}}</button>
                            <mat-icon>assessment</mat-icon>
                        </ng-container>
                    </mat-list-item>
                </mat-list>
                {{ categoryName.value }}

            </mat-step>

            <!-- -----PURCHASING INFO----- -->
            <mat-step label="Purchase Info" formGroupName="1" [stepControl]="formArray?.get([1])">
                <!-- -----Purchase Value----- -->
                <mat-form-field class="form-element">
                    <input matInput placeholder="Purchase Value" formControlName="purchaseValue" required>
                </mat-form-field>
                <!-- -----Purchase Date----- -->
                <mat-form-field class="form-element">
                    <input matInput placeholder="Purchase Date" [matDatepicker]='purchaseDate'
                        formControlName="purchaseDate">
                    <mat-datepicker-toggle [for]='purchaseDate' matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #purchaseDate></mat-datepicker>
                </mat-form-field>
            </mat-step>

            <!-- -----SELLING INFO----- -->
            <mat-step label="Selling Info" formGroupName="2" [stepControl]="formArray?.get([2])">

                <mat-expansion-panel #panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Sale Details
                        </mat-panel-title>
                        <mat-panel-description>
                            Only for sold products
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- -----Sold----- -->
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Sold" formControlName="sold">
                    </mat-form-field>

                    <!-- -----Sale Date----- -->
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Sale Date" [matDatepicker]='saleDate' formControlName="saleDate">
                        <mat-datepicker-toggle [for]='saleDate' matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #saleDate></mat-datepicker>
                    </mat-form-field>

                    <!-- -----Sale Value----- -->
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Sale Value" formControlName="saleValue" pattern="^[0-9]+(\.[0-9]+)?$" [required]="panel.expanded">
                    </mat-form-field>

                    <!-- -----Purchaser Name----- -->
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Purchaser Name" formControlName="purchaserName"
                            [required]="panel.expanded">
                    </mat-form-field>

                    <!-- -----Purchaser Contacts----- -->
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Purchaser Contacts" formControlName="purchaserContacts"
                            [required]="panel.expanded">
                        <mat-icon matPrefix class="formIcon">mail</mat-icon>
                    </mat-form-field>

                    <!-- -----Sale Platforms----- -->
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Sale Platforms" formControlName="salePlatforms">
                    </mat-form-field>
                </mat-expansion-panel>
                <hr>

                <div class="form-element">
                    <button mat-raised-button color="primary" type="submit" class="button"
                        [disabled]="!formGroup.valid">Submit
                        Form</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>