<h2 mat-dialog-title>Item Details</h2>
<h4 mat-dialog-content *ngFor="let item of data | keyvalue">
    <!-- maybe put icons for the attributes displayed -->
    {{item.key}}:{{item.value}}
</h4>
<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close='true' [routerLink]="['/product', data.id]">Editar</button>
    <button mat-button mat-dialog-close mat-dialog-close='true' (click)="delete(data.id)">Remover</button>
    <button mat-button mat-dialog-close mat-dialog-close='false'>Vender</button>
    <button mat-button mat-dialog-close mat-dialog-close='false'>Sair</button>
</mat-dialog-actions>