h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

/* body {
	font-family: monospace;
	color: #333;
} */
/* table, th, td {
	padding: 10px;
	border: 1px solid black; 
	border-collapse: collapse;
} */

.mat-row {
	opacity: 0.8;
	transition: 0.3s;
}	

.mat-row:hover {
	opacity: 1
}

/* .filter {
	display: block;
}
.header {
	padding: 5px;
} */
/* table {
	width: 100%;
} */

.insert-container {
	display: flex;
	justify-content: center;

}

.button {
	background-color: lightblue;
	flex-grow: 2;
}

.insert-button {
	flex-grow: 2;
	background-color: red;
	display: flex;
	justify-content: center;
}

.categories-column {
	background-color: lightcoral;
	display: flex;
	flex-wrap: wrap;
}

.mat-column-name {
	/* flex: 0 0 200px; */
	color: red;
}

